@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ASP.NET MVC Três Camadas</h1>
    <p>Trabalhando com arquitetura três camadas do jeito certo!.</p>
</div>
